<div class="card-body border border-primary rounded">
    <h5 class="card-title bg-primary text-white p-2">
        <%=@post.title%>
    </h5>
    <p class="card-text">
        <%=@post.description%>
    </p>
</div>
